  
  @media (width > 1600px) {
    .SectionTypeLashs{
      margin-top:15%;
    }
  }

  .SectionTypeLashs{
    display: flex;
    flex-direction: column;
    align-items: center;



    h1{
      color: #5dd5c7;
      font-size:7ch;
      padding-bottom: 6px;
   }
  }
 .TypeLash{
  width: 100%;
 
 }

  
 
