  
  @media (width > 1600px) {
    .SectionTypeLashs{
      margin-top:15%;
    }
  }

  .SectionTypeLashs{
    display: flex;
    flex-direction: column;
    align-items: center;




    h1{
      color: #5dd5c7;
      font-size:7ch;
      padding-bottom: 6px;
   }
  }
  .SectionTypeLashs{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

   }
  
 .TypeLash{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
 }

 .figureSlider{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50ch;
  img{

    width: 50%;
    height: 100%;
    object-fit: contain;
  }
 }
 .slideContent{
}
 .titleSlide{
width: 50%;
margin: auto;
text-align: center;
 }
 
  
 
